<!DOCTYPE html>
<html xmlns="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" th:href="@{/webjars/bootstrap/4.5.2/css/bootstrap.min.css}">
        <title>Pokemon</title>
    </head>

    <body>
        <div class="md-5">
            <nav class="navbar navbar-dark bg-dark">
                <span class="navbar-text">ポケモン検索</span>
            </nav>
        </div>
        <br />
        <form th:action="@{/search}" th:object="${pokemon}" method="get">
            <!-- <input type="hidden" th:field="*{id}"> -->

            <label for="name">名前</label>
            <input type="text">


            <label for="type">タイプ</label>
            <select>
                // 項目の戦闘を空欄にするための空オプション
                <option value=""></option>
                <option th:each="type :${@typeRepository.findAll()}" th:value="${type.id}" th:text="${type.name}"></option>
            </select>
            <br />

            <label for="type">種族値</label>
            <select>
                <option value="h">HP</option>
                <option value="a">攻撃</option>
                <option value="b">防御</option>
                <option value="c">特攻</option>
                <option value="d">特防</option>
                <option value="s">素早さ</option>
            </select>
        が
        <input type="number">
<!-- UP or Down -->
            <select>
                <option value="">以上</option>
                <option value="">以下</option>
                
            </select>
            <br />
            <button>
                <span class="text">検索</span>
            </button>
        </form>
        <br />
        <br />
        <div class="mx-5">
            <script th:src="@{/webjars/jquery/jquery.min.js}"></script>
            <script th:src="@{/webjars/popper.js/umd/popper.min.js}"></script>
            <script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
            <div class="col">
            <table border="1" class="table table-striped">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>ポケモン</th>
                        <th>タイプ</th>
                        <th>HP</th>
                        <th>攻撃</th>
                        <th>防御</th>
                        <th>特攻</th>
                        <th>特防</th>
                        <th>素早さ</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="pokemon : ${pokemons}" th:object="${pokemon}">
                        <td th:text="*{id}"></td>
                        <td th:text="*{name}"></td>
                        <td th:text="*{type.name}"></td>
                        <td th:text="*{h}"></td>
                        <td th:text="*{a}"></td>
                        <td th:text="*{b}"></td>
                        <td th:text="*{c}"></td>
                        <td th:text="*{d}"></td>
                        <td th:text="*{s}"></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <br />
        <a href="/">
            TOPへ戻る
        </a> 
    </body>
</html>